


.container {
padding: 0 !important;
}
.content {
margin-top: -32px;
}
.page-content {
padding: 70px 0px 0px 0px !important;
max-width: 960px;
margin: auto;
}
.page-content {
background: white;
-webkit-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);
box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.1);
}

.name {
margin-bottom: 0px;	
}
.number {
margin-bottom: 0px;	
}




































